footer{
  max-width: 1440px;
  width: 100%;
  height: 400px;



.galareya{
  text-align: center;


   h2{
     font-size: 50px;
     font-family: 'Times New Roman', Times, serif;
     padding-top: 80px;

      padding-bottom: 80px;

   }



  img{
    margin: 10px;
  }
}


.footer-bottom{

  width: 100%;
  height: auto;


}


}
